*{
  margin: 0;
  padding: 0;
}
body{
   font-family: Helvetica, Arial, sans-serif;

}

.image_placement{
  width:600px;
  float: left;
}
.image_placement img{
  width:640px;
  height:640px;
  clip-path: polygon(0 0, 0 100%, 100% 49%);
}
.content_section{
  width: 700px;
  float: right;
  min-height: 500px;
}
.LogIn{
  width:330px;
  float:left;
}

.LogIn h2{
  padding:10px 0px;
  margin-top:165px;
}
.LogIn h3{
  border-bottom: 3px solid #20B2AA;
  width: 15%;
}
.LogIn .intype{
  width: 70%;
  padding: 10px 5px;
  margin-bottom: 5px;
}
.LogIn button{
  width: 74%;
  padding: 10px 5px;
}
.Logo{
  float: left;
}
.Logo img{
  width:360px;
  height: 100px;
}
.bottom_set{
  margin-top: 455px;
}
.bottom_set p{
  float: left;
  padding: 10px;
}
.image_download{
    margin-top: 15px;
}